
.avatarContainer{

    content: "";
    position: fixed;
    margin: auto;
    width: 100%;
    height: 100%;
}

.avatar, .squareAvatar, .pentagonAvatar, .hexagonAvatar, .heptagonAvatar, .octagonAvatar, .nonagonAvatar, .decagonAvatar, .circleAvatar{
    opacity: 0;
}