/* /assets/styles/fonts.css */

/* FuturaStd font family */
@font-face {
    font-family: "FuturaStd ExtraBold";
    src: url("../fonts/FuturaStd/FuturaStd-ExtraBold.otf") format("opentype");
  }
  
  @font-face {
    font-family: "FuturaStd Heavy";
    src: url("../fonts/FuturaStd/FuturaStd-Heavy.otf") format("opentype");
  }
  
  @font-face {
    font-family: "FuturaStd Medium";
    src: url("../fonts/FuturaStd/FuturaStd-Medium.otf") format("opentype");
  }
  
  @font-face {
    font-family: "FuturaStd Book";
    src: url("../fonts/FuturaStd/FuturaStd-Book.otf") format("opentype");
  }
  
  @font-face {
    font-family: "FuturaStd Light";
    src: url("../fonts/FuturaStd/FuturaStd-Light.otf") format("opentype");
  }
  
  /* Suisse BP Int'l font family */
  @font-face {
    font-family: "Suisse BP Int'l Medium";
    src: url("../fonts/SuisseBPIntl/OTF/Suisse BP Int'l Medium.otf") format("opentype");
  }
  