@import url('./theme.css');
@import url('./scroll.css');

/* MAIN STYLING */

h1 {
    font-family: var(--font-title-1);
    font-size: var(--font-size-title-1);
}

h2 {
    font-family: var(--font-title-2);
    font-size: var(--font-size-title-2);
}

h3 {
    font-family: var(--font-title-3);
    font-size: var(--font-size-title-3);
}

h4 {
    font-family: var(--font-title-4);
    font-size: var(--font-size-title-4);
}

h5 {
    font-family: var(--font-title-5);
    font-size: var(--font-size-title-5);
}

p {
    font-family: var(--font-body);
    font-size: var(--font-size-body);
}

#top-logo {
    position: absolute;
    top: clamp(5px, 5vh, 35px);
    left: clamp(5px, 5vw, 35px);
    width: clamp(150px, 15vw, 300px);
    height: auto;
}

#top-logo img{
    width: 100%;
    height: auto;
}

.section {
    position: relative;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

/* SECTION 1 - Intro */

#section-1 .intro-container {
    position: relative;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#section-1 .planet-container {
    position: relative;
    width: 45%;
    height: 100%;
}

#planet-intro {
    width: 100%;
    height: 100%;
}

/* SECTION 2 - Planet */
#planet-intro-clean {
    width: clamp(500px, 55vw, 1100px);
    height: auto;
}


/* SECTION 3 - About */
.map-container {
    padding: clamp(0px, 5vh, 50px) clamp(0px, 5vw, 50px);
}

#swiss-map{
    width: clamp(500px, 80vw, 1200px);
}


.about-text {
    width: 30%;
    padding: 0 5%;
}

/* SECTION 4 - ABOUT */
#section-4 .map-container {
    width: 50%;
}

#section-4 .collab-container {
    padding: clamp(0px, 5vh, 50px) clamp(0px, 5vw, 50px);
    width: 50%;
}

#collab-img {
    width: clamp(500px, 80%, 100%);
    height: auto;
}

/* SECTION 5 - LOGO */
#logo-durabilia {
    width: clamp(500px, 60vw, 900px);
    height: auto;
}

/* SECTIONS 6 TO 8 - PROJECT DESCRIPTION */
#section-6, #section-7, #section-8 {
    flex-direction: column;
    justify-content: center;
}

.text-container {
    width: 40%;
    padding: 0 5%;
    text-align: center;
}

/* SECTION 9 - SDG */
#section-9 {
    flex-direction: column;
    justify-content: center;
}

.title-container {
    width: 50%;
    text-align: center;
    margin-bottom: 6vh;
}

.sdg-blocks-container {
    display: flex;
    justify-content: space-around;
    margin: 0 5%;
  }
  
  .sdg-block {
    flex: 0 0 clamp(80px, 8vw, 200px);
    height: clamp(80px, 8vw, 200px);
    margin: 0 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background-color: #dddddd;
  }
  
  .sdg-block:nth-child(n + 7) {
    display: none;
  }

