@import url('./theme.css');




.text-1, .text-2, .text-3{
    opacity:0;
    position: absolute;
    top: 0;
    left: 0;
}

.elements-container{
/* max-width: 1240px; */
    width: 100%;
    height: 100%;
    margin: auto;
    /* center */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


    

}

.element-earth{
    width: 30%;
    /* align center */
    margin: auto;
    margin-top: 10%;
    float: left;
}
.element-texts {
    font-size: 32px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    position: relative;
    width: 60%;
    /* margin-top: 10%;
    margin-left: 30%; */
  }

.section-2-container{
    width: 100%;
    height: 100%;
    display: inline-flex;
}

.section-2-text{
    width: 50%;
    height: 100%;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
   
}


.background-text {
    position: absolute;
    z-index: 9999;
    width: 100%;
    height: 100%;
  }
  
  .bg-text-1 {
    position: absolute;
    top: 20%;
    left: 10%;
    font-size: 20px;
    color: rgb(161, 35, 35);
  }
  
  .bg-text-2 {
    position: absolute;
    top: 50%;
    right: 10%;
    font-size: 20px;
    color: rgb(141, 24, 24);
  }
  
  .bg-text-3 {
    position: absolute;
    bottom: 10%;
    left: 40%;
    font-size: 20px;
    color: rgb(153, 21, 21);
  }

.avatarContainer{

    content: "";
    position: fixed;
    margin: auto;
    margin-top: 20%;
}

.logo-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.bg-text-1, .bg-text-2, .bg-text-3{
    opacity: 0;
}

/* make .logo-text not go next line */


.durabilia-icon{
    opacity: 0.3;
}


.logo-text{
opacity: 0;
}

/* SECTION 10 - SALES POINTS */

.sales-points-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    padding: 0 5%;

}

.sales-point {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color-tertiary);
    margin: 1vh 0;
}

.sales-point-text {
    color: inherit !important;
}

.card-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sales-point {
    transform: scale(0.6);
    transform-origin: center center;
}

.sect9-cont {
    min-height: 100vh;
  }

/* avatars */

