@import url('./theme.css');




.elements-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 5%;
}

.element-earth{
    width: 40%;
}

.element-texts{

    font-size: 32px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    position: relative;

    width: 60%;

}


.section-2-container{
    width: 100%;
    height: 100%;
}

.section-2-text{

   
}

.avatarContainer{

    content: "";
    position: fixed;
    margin: auto;
    margin-top: 20%;
}

.logo-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* make .logo-text not go next line */


.durabilia-icon{
    opacity: 0.3;
}


.logo-text{
opacity: 0;
}

/* SECTION 10 - SALES POINTS */

.sales-points-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    padding: 0 5%;

}

.sales-point {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color-tertiary);
    margin: 1vh 0;
}

.sales-point-text {
    color: inherit !important;
}

.card-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sales-point {
    transform: scale(0.6);
    transform-origin: center center;
}

.sect9-cont {
    min-height: 100vh;
  }

/* avatars */

