#section-9 {
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 180%;
    max-height: 3000px;
}

.sdg-number {
    color: white;
    font-size: 32px;
    margin: 0 !important;
}

.sdg-title-container {
    display: flex;
    flex-direction: row;
    gap: 5%;
    width: 80%;
    align-items: center;
    justify-content: center;
    padding: 0 5%;
}

.sdg-title {
    width: 100%;
    color: white;
    font-size: 14px;
}

.sdg-icon{
    max-height: 30%;
    max-width: 50%;
}

.sdg-blocks-container {
    height: 200px;
    max-height: 200px;


    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

/* make .sdg-block as squares and displayed randomly */
.sdg-block {
    width: 200px;
    height: 200px;
    margin: 1vw 1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 2px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);  
}


.sdg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    font-size: 0.85rem;
    opacity: 0;
    box-sizing: border-box;
    transform: translateY(100%);
    transition: transform 0.3s ease, opacity 0.3s ease;
    padding: 15px 25px;
    border-radius: 10px;
    color: var(--bg-color);
}

.sdg-block:hover .sdg-overlay {
    opacity: 1;
    transform: translateY(0%);
    align-items: center;
  }




.sdg-1 {
    background-color: var(--sdg-1);


}

.sdg-2 {
    background-color: var(--sdg-2);
}

.sdg-3 {
    background-color: var(--sdg-3);
}

.sdg-4 {
    background-color: var(--sdg-4);
}

.sdg-5 {
    background-color: var(--sdg-5);
}

.sdg-6 {
    background-color: var(--sdg-6);
}

.sdg-7 {
    background-color: var(--sdg-7);
}

.sdg-8 {
    background-color: var(--sdg-8);
}

.sdg-9 {
    background-color: var(--sdg-9);
}

.sdg-10 {
    background-color: var(--sdg-10);
}

.sdg-11 {
    background-color: var(--sdg-11);
}

.sdg-12 {
    background-color: var(--sdg-12);
}

.sdg-13 {
    background-color: var(--sdg-13);
}

.sdg-14 {
    background-color: var(--sdg-14);
}

.sdg-15 {
    background-color: var(--sdg-15);
}

.sdg-16 {
    background-color: var(--sdg-16);
}

.sdg-17 {
    background-color: var(--sdg-17);
}