@import url('./theme.css');

.atouts-container{
    display: flex;
    flex-direction: row;
    width: 70%;
    flex-wrap: nowrap;
    margin: auto;
}

.atouts-list{
    width: 50%;
}

.atout{
    padding: 20px 0px 20px 0px;
}



.atout-overlay{
    /* display: none; */
    position: absolute;
    top: 0;
  
    width: 40%;
    height: 100%;
    background-color: var(--color-secondary);
  
    /* animation css */
  }
  
  .atouts-left .atout-overlay{
    left: 0;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
  }
  
  .atouts-right .atout-overlay{
    right: 0;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
  }
  
  .slide-in {
    animation: slide-in 0.5s forwards;
    -webkit-animation: slide-in 0.5s forwards;
  }
  
  .slide-out {
    animation: slide-out 0.5s forwards;
    -webkit-animation: slide-out 0.5s forwards;
  }
  
  @keyframes slide-in {
    100% { transform: translateX(0%); }
  }
  
  @-webkit-keyframes slide-in {
    100% { -webkit-transform: translateX(0%); }
  }
  
  /* Adjust the slide-out animation for the right side */
  .atouts-right .slide-out {
    animation: slide-out-right 0.5s forwards;
    -webkit-animation: slide-out-right 0.5s forwards;
  }
  
  @keyframes slide-out-right {
    0% { transform: translateX(0%); }
    100% { transform: translateX(100%); }
  }
  
  @-webkit-keyframes slide-out-right {
    0% { -webkit-transform: translateX(0%); }
    100% { -webkit-transform: translateX(100%); }
  }

  /* Add a new slide-out animation for the left side */
@keyframes slide-out-left {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(0%); }
  }
  
  @-webkit-keyframes slide-out-left {
    0% { -webkit-transform: translateX(-100%); }
    100% { -webkit-transform: translateX(0%); }
  }