@import url('./theme.css');

.atout-etiquette {
  font-size: 1.5rem;
}

.atouts-container {
  display: flex;
  flex-direction: row;
  width: 70%;
  flex-wrap: nowrap;
  margin: auto;
}

.atouts-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  height: 100%;
}

.atout {
  margin: 20px 0px 20px 0px;
}



.atout-overlay {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  background-color: var(--color-secondary);
  z-index: 100;
}