@import url('./fonts.css');

:root {
    --color-primary: #006699;
    --color-secondary: #125c00;
    --color-tertiary: #ff7c43;
    --color-quaternary: #5c0056;
    --color-quinary: #00ff1e;
    --font-title-1: 'FuturaStd ExtraBold', sans-serif;
    --font-title-2: 'FuturaStd Heavy', sans-serif;
    --font-title-3: 'FuturaStd Medium', sans-serif;
    --font-title-4: 'FuturaStd Book', sans-serif;
    --font-title-5: 'FuturaStd Light', sans-serif;
    --font-body: 'Suisse BP Int\'l Medium', sans-serif;
    --font-size-title-1: clamp(3rem, 4vw, 4rem);
    --font-size-title-2: clamp(2rem, 2.5vw, 2.5rem);
    --font-size-title-3: clamp(1.75rem, 2vw, 2rem);
    --font-size-title-4: clamp(1.625rem, 1.75vw, 1.75rem);
    --font-size-title-5: clamp(1.2rem, 1.5vw, 1.5rem);
    --font-size-body: clamp(1.2rem, 1.5vw, 1.5rem);
}