@import url('./fonts.css');

:root {
    --color-primary: #006699;
    --color-secondary: #125c00;
    --color-tertiary: #ff7c43;
    --color-quaternary: #5c0056;
    --color-quinary: #00ff1e;
    --font-title-1: 'FuturaStd ExtraBold', sans-serif;
    --font-title-2: 'FuturaStd Heavy', sans-serif;
    --font-title-3: 'FuturaStd Medium', sans-serif;
    --font-title-4: 'FuturaStd Book', sans-serif;
    --font-title-5: 'FuturaStd Light', sans-serif;
    --font-body: 'Suisse BP Int\'l Medium', sans-serif;
    --font-size-title-1: 2.5rem;
    --font-size-title-2: 2rem;
    --font-size-title-3: 1.5rem;
    --font-size-title-4: 1.25rem;
    --font-size-title-5: 1rem;
    --font-size-body: 1rem;
}